.activities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .activity-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .activity-card:hover {
    transform: scale(1.05);
  }
  
  .activity-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .activity-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.activity-card-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.activity-card-buttons button:hover {
    background-color: #0056b3;
}