.host-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    transition: transform 0.3s;
  }
  
    .host-card:hover {
    transform: scale(1.05);
  }
  .host-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста */
  }
  .host-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .host-info {
    padding: 15px;
    text-decoration: none;
  }
  
  .host-title {
    font-size: 18px;
    margin: 0 0 10px;
    text-decoration: none;
  }
  
  .host-description {
    font-size: 14px;
    margin: 0 0 5px;
  }
  h3 .host-city{
    text-decoration: none;
  }
  
  .host-price {
    font-weight: bold;
  }

  .host-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .book-button,
  .review-button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .review-button {
    background-color: #008CBA; /* Синий цвет для отзыва */
  }
  
  .book-button:hover,
  .review-button:hover {
    opacity: 0.8; /* Эффект при наведении */
  }
